body {
    background-image: url('img3.webp');
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    background-color: #333; 

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
    border: none;
    border-radius: 10px;
    color: black; 
}

.game-card {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: default;
}

.game-card:hover {
    transform: translateY(-5px); /* Efecto de levitación */
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}

/* Un toque extra para los botones */
.btn {
    border-radius: 8px;
    font-weight: 500;
}